.social-container {
    width: 100%;
}

.fab {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.social-logo-border-fbook {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #45629d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-insta {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, rgba(245,133,41), rgba(254,218,119), rgba(221,42,123), rgba(129,52,175), rgba(81,91,212));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-twit {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.zoom-social {
    transition: transform .2s;
}

.zoom-social:hover {
    transform: scale(1.25);
}