body {
    background-color: #f1f1f1;
}

.bg-light {
    background-color: #cacaca !important;
}

.social-container {
    width: 100%;
    margin-top: 20px;
}

.fab {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.fa-linkedin-in {
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.fa-youtube {
   font-size: 55px;
    text-align: center;
    color: #c4302b;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-snapchat-ghost {
   font-size: 60px;
    text-align: center;
    color: #e9e7e7;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
    text-shadow: 2px 2px #00000;
}

.fa-goodreads-g {
   font-size: 60px;
    text-align: center;
    color: #473121;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
    text-shadow: 2px 2px #00000;
}

.fa-users {
   font-size: 55px;
    text-align: center;
    color: #fafafa;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-facebook-messenger {
   font-size: 55px;
    text-align: center;
    color: #00b2ff;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-skype {
    font-size: 60px;
    text-align: center;
    color: #00aff0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-spotify {
    font-size: 60px;
    text-align: center;
    color: #1db954;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-windows {
    font-size: 55px;
    text-align: center;
    color: #fafafa;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

/*-- social link styles --*/

.social-logo-border-fbook {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #45629d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-insta {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, rgba(245,133,41), rgba(254,218,119), rgba(221,42,123), rgba(129,52,175), rgba(81,91,212));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-twit {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-linked {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0072b1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-pinterest {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #c8232c;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-youtube {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-snapchat {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/snapchat-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-reddit {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff4301;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-tumblr {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #36465d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-flickr {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/flickr-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-myspace {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/myspace-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-whatsapp {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #25d366;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-messenger {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-vimeo {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #86c9ef;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-skype {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-spotify {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-tiktok {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/tiktok-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-foursquare {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fa4779;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-medium {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-founders {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/f6s-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*-- work link styles --*/ 

.social-logo-border-outlook {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/outlook-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-sharepoint {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/sharepoint-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-collins {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/design-my-night-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-rep {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/rep-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-selenity {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/selenity-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-travel {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/click-travel-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-mable {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/mable-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-teamplan {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/teamplan-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-ppn {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/ppn-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-harri {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/harri-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-trade-simple {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/trade-simple-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-verisae {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/verisae-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-deliveroo {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/deliveroo-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-nicholsons {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/nicholsons-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*-- popular links styles --*/

.social-logo-border-github {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #24292e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-heroku {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/heroku-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-bootstrap {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/bootstrap-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-slack {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3f0e40;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-materialize {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/materialize-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-pluralsight {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/pluralsight-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-netflix {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/netflix-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-iplayer {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/iplayer-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-news {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/news-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-sports {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/sports-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-skysports {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/skysports-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-skynews {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/skynews-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-yorkshirepost {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/yorkshirepost-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-leedsdirect {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/leedsdirect-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-leedsunited {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/leedsunited-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-logo-border-weather {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("../images/weather-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.zoom-social {
    transition: transform .2s;
}

.zoom-social:hover {
    transform: scale(1.25);
}