h1 {
    text-align: center;
}

.social-container {
    width: 100%;
    margin-top: 20px;
}

.fab {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.fa-linkedin-in {
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.fa-youtube {
   font-size: 55px;
    text-align: center;
    color: #c4302b;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-snapchat-ghost {
   font-size: 60px;
    text-align: center;
    color: #e9e7e7;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
    text-shadow: 2px 2px #00000;
}

.fa-goodreads-g {
   font-size: 60px;
    text-align: center;
    color: #473121;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
    text-shadow: 2px 2px #00000;
}

.fa-users {
   font-size: 55px;
    text-align: center;
    color: #fafafa;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-facebook-messenger {
   font-size: 55px;
    text-align: center;
    color: #00b2ff;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-skype {
    font-size: 60px;
    text-align: center;
    color: #00aff0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-spotify {
    font-size: 60px;
    text-align: center;
    color: #1db954;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.fa-windows {
    font-size: 55px;
    text-align: center;
    color: #fafafa;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
}

.social-logo-border-fbook {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #45629d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-insta {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, rgba(245,133,41), rgba(254,218,119), rgba(221,42,123), rgba(129,52,175), rgba(81,91,212));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-twit {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-linked {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0072b1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-pinterest {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #c8232c;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-youtube {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-snapchat {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fffc00;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-google {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, rgba(66,133,244), rgba(219,68,55), rgba(244,160,0), rgba(15,157,88));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-reddit {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff4301;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-tumblr {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #36465d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-goodreads {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f4f2ed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-myspace {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #030303;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-whatsapp {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #25d366;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-messenger {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-vimeo {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #86c9ef;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-skype {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-spotify {
    text-align: center;
    font-size: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social-logo-border-windows {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #f25022,#7fba00,#00a4ef,#ffb900);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.zoom-social {
    transition: transform .2s;
}

.zoom-social:hover {
    transform: scale(1.25);
}